// Container do site
// ------------------------

.container{
    max-width: $width-container-lg;
    margin-left: auto;
    margin-right: auto;
}

.main-header{
    color: $color-text;

    .social-links{
        margin-left: -8px;
        margin-right: -#{round($padding-base/2)};
        font-size: em(22px);
    }

    .social-links a{
        color: inherit;
    }

    @media(min-width: $screen-sm-min){
        margin: $padding-base*8 0;
    }

    @media(max-width: $screen-xs-max){
        margin: $padding-base*6 0;
    }
}

.main-content{
    background: $white;
    padding-bottom: 1px;
    margin-bottom: 105px;
    padding-left: $padding-base*3;
    padding-right: $padding-base*3;
}

.main-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $padding-base*2;
    background: $color-text;
    color: $white;
    font-size: em(14px);
    text-align: center;
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.2);
    z-index: -1;

    .social-links{
        @include flexbox((justify-content: center));

        a{
            color: $white;
            font-size: em(30px);
        }
    }
}