// Tiporafia CSS
// ------------------------


// Títulos
h1, h2, h3{
    font-weight: 200;
    line-height: 1;
}


// Parágrafos
p:not(:last-child){
    margin-bottom: $padding-base;
}


// Links
a{
    color: $color-text;
    opacity: .7;
    text-decoration: none;
    @include transition(opacity .2s);

    &:hover,
    &:focus{
        opacity: 1;
    }
}


// Ícones
[class^="icon-"]:before, [class*=" icon-"]:before{
    display: block;
}


// Títulos principais
.main-title{
    font-family: $title-font-family;
    font-weight: 500;

    @media(min-width: $screen-sm-min){
        font-size: em(72px);
    }

    @media(max-width: $screen-xs-max){
        font-size: em(46px);
    }
}

.main-subtitle{
    margin-bottom: $padding-base*2;

    @media(min-width: $screen-sm-min){
        font-size: em(52px);
        padding-left: 46px;
    }

    @media(max-width: $screen-xs-max){
        font-size: em(28px);
        padding-left: 30px;
    }
}

.main-description{
    @media(min-width: $screen-sm-min){
        font-size: em(26px);
    }

    @media(max-width: $screen-xs-max){
        font-size: em(18px);
    }
}


// Títulos de sessão
.section-title{
    margin-bottom: $padding-base;

    @media(min-width: $screen-sm-min){
        font-size: em(42px);
    }

    @media(max-width: $screen-xs-max){
        font-size: em(26px);
    }
}


// Listas
.social-links{
    @extend %list-style-none;
    @include flexbox((display: flex));

    a{
        text-decoration: none;
        display: block;
        padding: 0 round($padding-base/2);
    }
}

.contact-list{
    margin: $padding-base*2 0;
    @extend %list-style-none;

    .phone{
        opacity: .7;
    }
}

dl{
    margin-top: $padding-base*1.5;

    dt{
        margin-bottom: $padding-base;
    }
}


// Pequenas descrições
.small{
    opacity: .7;
    font-size: 90%;
}

.least-highlight{
    text-decoration: line-through;
}