// Tiporafia CSS
// ------------------------


// Títulos
h1, h2, h3{
    font-weight: 200;
    line-height: 1;
}

p:not(:last-child),
ul:not(:last-child){
    margin-bottom: $padding-base;
}


// Ícones
[class^="icon-"]:before, [class*=" icon-"]:before{
    display: block;
}


// Títulos principais
.main-title{
    font-family: $title-font-family;
    font-size: em(72px);
    font-weight: 500;
}

.main-subtitle{
    font-size: em(52px);
    margin-bottom: $padding-base*2;
    padding-left: 46px;
}

.main-description{
    font-size: em(26px);
}


// Títulos de sessão
.section-title{
    font-size: em(42px);
    margin-bottom: $padding-base;
}


// Links das redes sociais
.social-links{
    list-style: none;
    @include flexbox((display: flex));

    a{
        text-decoration: none;
        display: block;
        padding: 0 round($padding-base/2);
        @include transition(opacity .2s);

        &:not(:hover){
            opacity: .8;
        }
    }
}


// Pequenas descrições
.small{
    opacity: .7;
    font-size: 90%;
}

.least-highlight{
    text-decoration: line-through;
}