// Container do site
// ------------------------

.container{
    max-width: $width-container-lg;
    margin-left: auto;
    margin-right: auto;
}

.main-header{
    color: $color-text;
    text-align: center;

    .social-links{
        display: inline-flex;
        font-size: em(22px);
    }

    .social-links a{
        color: inherit;
    }

    @media(min-width: $screen-sm-min){
        padding: $padding-base*8 0 $padding-base*4;
    }

    @media(max-width: $screen-xs-max){
        padding: $padding-base*6 0 $padding-base*3;
    }
}

.main-content{
    background: $white;
    padding-bottom: 1px;
    margin-bottom: 115px;
    padding-left: $padding-base*3;
    padding-right: $padding-base*3;
}

.main-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $padding-base*4 $padding-base*2 $padding-base*3;
    background: $color-text;
    color: $white;
    font-size: em(16px);
    text-align: center;
    box-shadow: inset 0 15px 30px rgba(0,0,0,0.2);
    z-index: -1;

    .social-links{
        justify-content: center;
        margin-top: 10px;

        a{
            color: $white;
            font-size: em(20px);
        }
    }

    p {
        margin: 0;

        a{
            color: $white;
            opacity: 1;
    
            &:hover,
            &:focus{
                text-decoration: underline;
            }
        }
    }

}