// Galeria de projetos
// ------------------------

.gallery-list{
    @extend %list-style-none;
    
    a{
        display: block;
        background: $gray-light;
        padding-bottom: percentage(280/600);
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        transition: .2s;
        @extend %responsive-content;

        &:not(:hover):not(:focus){
            opacity: .3;
            filter: grayscale(50%);
        }
    }

    @media(min-width: $screen-sm-min){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        li{
            width: 25%;

            &:first-child {
                margin-left: 25%;
            }
            
            &:nth-child(2) {
                margin-right: 25%;
            }
        }
    }

    @media(max-width: $screen-xs-max){
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        box-shadow: 0 15px 15px -5px rgba(0,0,0, .1);

        li{
            display: inline-block;
            width: 100%;
        }

        a:not(:hover):not(:focus){
            opacity: 1;
            filter: grayscale(0);
        }
    }
}