<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ero Silva - Desenvolvedor Frontend</title>

    <link href="https://fonts.googleapis.com/css?family=Cantarell|Expletus+Sans:400,500|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1 class="main-title">&lt;Ero.silva&gt;</h1>
            <h2 class="main-subtitle">Desenvolvedor Frontend</h2>
            <p class="main-description">Criando interfaces incríveis desde 2014... :D</p>
        </div>
    </header>
    
    <main class="main-content">
        <section class="section-projects">
            <ul class="gallery-list">
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-gosuper.jpg" alt="" width="600" height="280"> </a> </li>
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-inbehaviorlab.jpg" alt="" width="600" height="280"> </a> </li>
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-interfarma.jpg" alt="" width="600" height="280"> </a> </li>
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-kgrnet.jpg" alt="" width="600" height="280"> </a> </li>
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-institutodecinema.jpg" alt="" width="600" height="280"> </a> </li>
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-woofpet.jpg" alt="" width="600" height="280"> </a> </li>
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-japuiba.jpg" alt="" width="600" height="280"> </a> </li>
                <li> <a href="javascript:void(0);"> <img src="assets/img/site-negroaragano.jpg" alt="" width="600" height="280"> </a> </li>
            </ul>
        </section>

        <section class="sections section-skills">
            <div class="container">
                <h2 class="section-title">Skills</h2>
                <p>HTML, CSS, Preprocessadores (SASS), Responsive Design, Princípios de UX, SEO, JS, JQuery, Automatizadores de tarefas (Grunt),  Cross-browser, Conceitos básicos de PHP e MySQL, Google Analytics e Search Console. </p>
            </div>
        </section>

        <section class="sections section-resume">
            <div class="container">
                <h2 class="section-title">Resumo</h2>
                <p>Formado em Sistema para Internet no Instituto Brasileiro de Tecnologia Avançada (IBTA), trabalho com desenvolvimento Frontend desde 2014. </p>
                <p>Nos primeiros contatos que tive com desenvolvimento de softwares, a criação de interfaces e interações sempre me fascinou. A forma como pequenos detalhes em um layout ou em um fluxo de interações podem mudar significativamente a forma como aquela interface vai ajudar o usuário me faz querer me aprofundar cada vez mais nessa área.</p>
                <p>Procuro criar layout limpos e claros, sempre pensando em um código legível e semântico. Afinal, programamos não apenas para que a máquina entenda, mas para que outros seres humanos possam compreender o código.</p>
                <p>Sempre acompanhando blogs de desenvolvimento Frontend, UX, UI, pegando dicas e seguindo tendências nesse mundo que se renova a cada dia. Gosto de seguir pessoas ativas na comunidade, elas geralmente tem um excelente conteúdo a ser repassado.</p>
                <p>Para cada projeto novo que inicio, procuro agregar algo novo. Seja no código que escrevo, na forma como lido com o projeto, ou até mesmo como me comunicar com a minha própria equipe. Tenho em mente que cada projeto deve ser uma “versão melhorada” do projeto anterior.</p>
                <p>Espero que essas poucas palavras possam descrever um pouco sobre mim para você que está lendo esse texto neste exato momento! :)</p>
            </div>
        </section>

        <section class="sections section-courses">
            <div class="container">
                <h2 class="section-title">Cursos</h2>
                <ul>
                    <li>Técnico em Informática (Voltado para desenvolvimento de software) - Etec Jaraguá, Centro Paula Souza;</li>
                    <li>CSS3 - Less e Sass (40 horas) - Treinaweb;</li>
                </ul>
            </div>
        </section>

        <section class="sections section-education">
            <div class="container">
                <h2 class="section-title">Formação</h2>
                <ul>
                    <li>Sistema para Internet - Instituto Brasileiro de Tecnologia Avançada (o novo Centro Universitário IBTA);</li>
                </ul>
            </div>
        </section>

        <section class="sections section-reading">
            <div class="container">
                <h2 class="section-title">Leituras</h2>
                <ul>
                    <li>HTML5 e CSS3 - Domine a web do futuro;</li>
                    <li>Introdução e boas práticas em UX Design;</li>
                    <li>SEO Prático: Seu site na primeira página das buscas;</li>
                    <li>JavaScript Eloquente - 2ª edição;</li>
                </ul>
            </div>
        </section>
    </main>

    <footer class="main-footer">
        <p>Até logo!</p>
        <p>
            <a href="">F</a>
            <a href="">In</a>
            <a href="">Gh</a>
        </p>
    </footer>
</body>
</html>