// Impressão
// ------------------------

@media print{
    body{
        font-size: 14px !important;
    }

    .main-subtitle,
    .main-footer,
    .section-projects,
    .social-links,
    .hidden-print{
        display: none !important;
    }

    .main-content,
    .main-description,{
        margin: 0 !important;
    }
    
    .contact-list{
        margin-top: round($padding-base/2);
        margin-bottom: $padding-base;

        .mail a,
        .phone{
            opacity: 1 !important;
        }
    }

    .main-header{
        margin-top: 0 !important;
        margin-bottom: $padding-base*3 !important;
        padding-bottom: $padding-base*1.5 !important;
        border-bottom: 1px solid rgba(0,0,0,.1) !important;
    }

    .main-title{
        font-size: em(24px) !important;
        font-weight: 700 !important;
    }

    .main-description{
        font-size: em(20px) !important;
    }
    
    .sections{
        margin: $padding-base*2.5 0 !important;

    }
    
    .section-reading{
        margin-bottom: 0 !important;
    }

    .section-title{
        font-size: em(18px) !important;
        font-weight: 700 !important;
    }


    // Elementos que trocam de valor
    [data-print]{
        color: transparent !important;

        &:before{
            font-family: $base-font-family;
            content: attr(data-print);
            color: $color-text;
        }
    }
}